* {
  margin: 0;
  padding: 0;
}
body {
  background: url("images/shattered.png") #dcdcdc;
  color: #444;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px #fff;
}
h1,
h2,
h3 {
  font-weight: 300;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: #258fb8;
}
a:hover {
  text-decoration: underline;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
#content {
  width: 890px;
  padding: 50px 40px;
  float: right;
  background: rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 20px #d2d2d2;
  box-shadow: 0 0 20px #d2d2d2;
}
#header {
  width: 200px;
  float: left;
  line-height: 1;
  margin-top: 50px;
}
#header a {
  color: #444;
}
#header a:hover {
  text-decoration: none;
  color: #258fb8;
}
#header h1 {
  font-size: 50px;
}
#header nav ul {
  list-style: none;
  font-weight: 300;
  margin-top: 30px;
  font-size: 1.2em;
}
#header nav li {
  margin-top: 20px;
}
article.index header strong {
  font-size: 2em;
  font-weight: 300;
  display: block;
  margin-bottom: 30px;
}
article {
  margin-bottom: 50px;
}
article .entry {
  line-height: 1.6;
}
article .entry p,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry blockquote,
article .entry table,
article .entry iframe,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6,
article .entry .video-container {
  margin-top: 15px;
}
article .entry ul,
article .entry ol,
article .entry dl {
  margin-left: 20px;
}
article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
  margin-top: 0;
}
article .entry img,
article .entry video {
  max-width: 100%;
  height: auto;
  border: none;
}
article .entry h1,
article .entry h2 {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px dashed #ddd;
}
article .entry code,
article .entry pre {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
article .entry code {
  background: #e9e9e9;
  border: 1px solid #ddd;
  font-size: 0.9em;
  margin: 0 5px;
  padding: 0 5px;
  color: #666;
}
article .entry pre {
  margin-top: 15px;
  background: #e9e9e9;
  border: 1px solid #ddd;
  padding: 7px 15px;
  overflow: auto;
}
article .entry pre code {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
article .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .entry .video-container iframe,
article .entry .video-container object,
article .entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
#footer {
  color: #999;
  font-size: 0.9em;
  line-height: 1.4;
}
#footer a {
  color: #999;
}
#footer a:hover {
  text-decoration: none;
  color: #258fb8;
}
figure.highlight {
  background: #e9e9e9;
  border: 1px solid #ddd;
  padding: 7px 15px;
  margin-top: 15px;
  overflow: auto;
  position: relative;
  color: #666;
}
figure.highlight figcaption {
  color: #999;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight pre {
  margin: 0;
  padding: 0;
  border: none;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
