{
  "extends": "hexo/test",
  "globals": {
    "should": true
  },
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "node/no-missing-require": 0
  }
}
