<% var base = config.root + (page.lang ? page.lang + '/' : '') %>
<h1 id="logo-wrap">
  <a href="<%- base %>" id="logo">Hexo</a>
</h1>
<nav id="main-nav">
  <ul>
    <li class="main-nav-item">
      <a class="main-nav-link" href="<%- base %>docs/">Docs</a>
    </li>
    <li class="main-nav-item">
      <a class="main-nav-link" href="https://github.com/tommy351/hexo/wiki/Plugins">Plugins</a>
    </li>
    <li class="main-nav-item">
      <a class="main-nav-link" href="https://github.com/tommy351/hexo/wiki/Themes">Themes</a>
    </li>
    <li class="main-nav-item">
      <a class="main-nav-link" href="https://github.com/tommy351/hexo">Source</a>
    </li>
  </ul>
</nav>