<nav id="side-nav">
  <ul>
    <li class="side-nav-title">
      <a href="" class="side-nav-title-link">Getting Started</a>
      <ul class="side-nav-child">
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Install</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Setup</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Configure</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Deploy</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Migrate</a>
        </li>
      </ul>
    </li>
    <li class="side-nav-title">
      <a href="" class="side-nav-title-link">Usage</a>
      <ul class="side-nav-child">
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Writing</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Tag Plugins</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Server</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Scaffolds</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Permalink</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Scripts</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Command-line Interface</a>
        </li>
      </ul>
    </li>
    <li class="side-nav-title">
      <a href="" class="side-nav-title-link">Development</a>
      <ul class="side-nav-child">
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Global Variables</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Template Data</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Helpers</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Collection</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Events</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Render</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Theme Development</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Plugin Development</a>
        </li>
        <li class="side-nav-child-item">
          <a href="" class="side-nav-child-link">Contribute</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>