// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = Monaco, Menlo, Consolas, monospace

// Colors
color-default = #444
color-grey = #999
color-border = #ddd
color-blue = #0e83cd