@import "nib"
@import "_variables"

body
  font: 14px font-sans
  background: url("images/shattered.png")
  color: color-default

.outer
  margin: 0 auto

.inner
  clearfix()
  padding: 0 50px

@import "_partial/header"