@import "nib"
@import "_variables"

@import "_common/button"
@import "_common/form"
@import "_common/modal"

body
  font: 14px font-sans
  color: color-default
  background: url("images/shattered.png")

#login-form-wrap
  background: #fff
  padding: 30px 0
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  margin: 0 -10px

#login-form
  width: 300px
  margin: 0 auto

#login-submit-btn
  margin-top: 10px
  font-weight: bold