@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("font/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("font/fontawesome-webfont.woff") format('woff'), url("font/fontawesome-webfont.ttf") format('truetype'), url("font/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  background: #eee;
  color: #444;
}
a {
  text-decoration: none;
  color: #258fb8;
}
a:hover {
  text-decoration: underline;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
#content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -135px;
  width: 400px;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px #ddd;
  box-shadow: 0 0 15px #ddd;
}
#content .logo {
  width: 150px;
  height: 150px;
  margin: 40px auto 15px;
  position: relative;
}
#content .logo:before {
  content: '\f023';
  font: 150px/1 FontAwesome;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ccc;
}
#content form {
  padding: 0 30px 30px;
  height: 35px;
}
#content form.error input {
  border-color: #ed5b65;
}
#content form.error button {
  background: #ed5b65;
}
#content form.error button:hover,
#content form.error button:active {
  background: #e7202d;
}
#content form input {
  border: 1px solid #ddd;
  padding: 0 10px;
  width: 280px;
  font: 14px/35px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  height: 35px;
  border-right: none;
}
#content form button {
  width: 39px;
  height: 37px;
  border: none;
  background: #1eba6b;
  cursor: pointer;
  position: relative;
}
#content form button:hover,
#content form button:active {
  background: #189556;
}
#content form button:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  content: '\f00c';
  font: 20px/40px FontAwesome;
  color: #fff;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #999;
  font-size: 0.9em;
}
#footer a {
  color: #999;
  float: left;
  padding: 0 10px;
  border-right: 1px solid #fff;
  border-left: 1px solid #ddd;
}
#footer a:first-child {
  padding-left: 0;
  border-left: none;
}
#footer a:last-child {
  padding-right: 0;
  border-right: none;
}
#footer .inner {
  padding: 15px 20px;
}
