#footer
  clearfix()
  padding 50px 0
  font-family font-title
  font-weight 300
  border-top 1px solid color-border

.footer-link
  text-decoration none
  color color-meta
  &:hover
    color color-main

#copyright
  float left
  color color-meta

#footer-nav
  float right

.footer-nav-item
  float left
  margin-left 30px