#header
  clearfix()
  padding 40px 0
  font-family font-title

#logo-wrap
  float left

#logo
  font-size 35px
  line-height 35px
  font-weight bold
  text-transform lowercase
  text-decoration none

#main-nav
  float right

.main-nav-item
  float left
  margin-left 40px

.main-nav-link
  text-decoration none
  line-height 35px
  font-weight 300
  border-bottom 2px solid transparent
  padding-bottom 5px
  font-size 16px