#header
  width side-width
  float left
  line-height 1
  margin-top 50px
  a
    color color-font
    &:hover
      text-decoration none
      color color-link

  h1
    font-size 50px

  nav
    ul
      list-style none
      font-weight 300
      margin-top 30px
      font-size 1.2em

    li
      margin-top 20px