#footer
  background: #eee
  padding: 30px 0
  border-top: 1px solid color-border

#copyright
  color: color-grey
  line-height: 1.5em
  font-family: font-title
  font-weight: 300
  a
    color: color-main
    text-decoration: none
    &:hover
      text-decoration: underline