/* line 7, ../../../assets/server/sass/posts/index.sass */
#post-list {
  width: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 16, ../../../assets/server/sass/posts/index.sass */
#post-search-form {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  height: 50px;
}

/* line 22, ../../../assets/server/sass/posts/index.sass */
#post-search-icon {
  color: #999999;
  position: absolute;
  top: 17px;
  left: 30px;
}

/* line 28, ../../../assets/server/sass/posts/index.sass */
#post-search-input {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 30px 16px 55px;
  width: 365px;
}

/* line 36, ../../../assets/server/sass/posts/index.sass */
#post-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 450px;
  right: 0;
  border-left: 1px solid #eeeeee;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f7f7f7;
}

/* line 47, ../../../assets/server/sass/posts/index.sass */
.post-item {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 30px;
  cursor: pointer;
  position: relative;
}
/* line 53, ../../../assets/server/sass/posts/index.sass */
.post-item.current {
  background: #f7f7f7;
}

/* line 56, ../../../assets/server/sass/posts/index.sass */
.post-date {
  color: #999999;
  font-size: 0.85em;
  margin-bottom: 5px;
}

/* line 61, ../../../assets/server/sass/posts/index.sass */
.post-title {
  font-weight: bold;
  color: #444444;
  line-height: 1.5;
}
