.hexo-button
  button_color(hex)
    background hex
    &:hover
      background darken(hex, 30%)
  &.red
    button_color(color-red)
  &.blue
    button_color(color-blue)
  &.green
    button_color(color-green)
  &.yellow
    button_color(color-yellow)
  &.grey
    button_color(color-meta)