*
  margin 0
  padding 0

body
  font 14px font-default
  background color-background
  color color-font

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

input::-moz-focus-inner
button::-moz-focus-inner
  padding 0
  border 0