<header id="header" class="outer">
  <div class="inner">
    <nav id="main-nav">
      <span id="main-nav-current">Posts</span>
      <ul id="main-nav-list">
        <li class="main-nav-item">
          <a href="<%- base %>posts" class="main-nav-link">Posts</a>
        </li>
        <li class="main-nav-item">
          <a href="<%- base %>pages" class="main-nav-link">Pages</a>
        </li>
        <li class="main-nav-sep"></li>
        <li class="main-nav-item">
          <a href="<%- base %>logout" class="main-nav-link">Log out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>