<div id="main-nav" ng-controller="MainMenuCtrl">
  <h1 id="logo-wrap">
    <a href="<%- base %>" id="logo">Hexo</a>
  </h1>
  <ul id="main-nav-list">
    <li class="main-nav-item">
      <a href="<%- base %>posts" class="main-nav-link" ng-class="{current: data.menu == 'posts'}">Posts</a>
      <a href="<%- base %>files/list/" class="main-nav-link" ng-class="{current: data.menu == 'files'}">Files</a>
    </li>
  </ul>
</div>