<!DOCTYPE html>
<html lang="<%= config.language || 'en' %>" ng-app="hexo" ng-controller="HeadCtrl">
<head>
  <meta charset="utf-8">
  <title ng-bind="data.title">Hexo</title>

  <link href="<%- base %>css/style.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="<%- base %>css/{{ style }}.css" rel="stylesheet" type="text/css" ng-repeat="style in data.styles">
</head>