<% if (item.categories && item.categories.length){ %>
  <%
  var cats = [];
  item.categories.forEach(function(cat){
    cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
  });
  %>
  <div class="categories">
    <%- cats.join(', ') %>
  </div>
<% } %>