<% if (item.tags && item.tags.length){ %>
  <%
  var tags = [];
  item.tags.forEach(function(tag){
    tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
  });
  %>
  <div class="tags">
    <%- tags.join(', ') %>
  </div>
<% } %>