---
layout: default
---

<article class="index">
  <header>
    <strong><%- page.subtitle %></strong>
    <div class="buttons"><%- partial('_partial/share') %></div>
  </header>
  <div class="entry"><%- page.content %></div>
</article>