---
layout: default
---

<article class="page">
  <h1 class="title"><%= page.title %></h1>
  <small>Last updated: <%= page.updated.format(config.date_format) %></small>
  <div class="entry"><%- page.content %></div>
</article>