@import 'nib'

@import '_base/variable'
@import '_base/layout'

#content
  position absolute
  top 50%
  left 50%
  margin-left -200px
  margin-top -135px
  width 400px
  background #fff
  border-radius 10px
  box-shadow 0 0 15px #ddd
  .logo
    width 150px
    height 150px
    margin 40px auto 15px
    position relative
    &:before
      content '\f023'
      font 150px/1 font-icon
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      text-align center
      color #ccc
  form
    padding 0 30px 30px
    height 35px
    &.error
      input
        border-color color-red
      button
        background color-red
        &:hover, &:active
          background darken(color-red, 20%)
    input
      border 1px solid color-border
      padding 0 10px
      width 280px
      font 14px/35px font-default
      height 35px
      border-right none
    button
      width 39px
      height 37px
      border none
      background color-green
      cursor pointer
      position relative
      &:hover, &:active
        background darken(color-green, 20%)
      &:before
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        text-align center
        content '\f00c'
        font 20px/40px font-icon
        color #fff

#footer
  position fixed
  bottom 0
  left 0
  width 100%
  color color-meta
  font-size 0.9em
  a
    color color-meta
    float left
    padding 0 10px
    border-right 1px solid #fff
    border-left 1px solid #ddd
    &:first-child
      padding-left 0
      border-left none
    &:last-child
      padding-right 0
      border-right none
  .inner
    padding 15px 20px