.widget-wrap
  margin-bottom: block-margin !important
  @media mq-normal
    column(sidebar-column)

.widget-title
  color: #ccc
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: 1em
  line-height: 1em
  font-weight: bold

.widget
  color: color-grey