// Color
color-background = rgb(220,220,220)
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #258fb8

// Font
font-default = 'Lato', 'Helvetica Neue', 'Helvetica', Arial, sans-serif
font-serif = 'Georgia', serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace

page-width = 1200px
side-width = 200px