#footer
  padding: 40px 0
  background: #eee
  font-family: font-title
  color: color-grey
  line-height: 1.5
  border: 1px solid color-border
  a
    color: #777
    text-decoration: none
    &:hover
      text-decoration: underline