logo-size = 35px

#header
  background: #fff
  border-bottom: 1px solid #ccc
  font-family: font-title
  padding-top: 30px
  padding-bottom: 30px

#logo-wrap
  float: left
  @media screen and (max-width: 768px)
    float: none
    text-align: center

#logo
  color: color-blue
  font-weight: bold
  text-transform: lowercase
  text-decoration: none
  font-size: logo-size

#main-nav
  float: right
  @media screen and (max-width: 768px)
    float: none
    margin-top: 20px

.main-nav-item
  float: left
  padding-left: 50px
  padding-top: 13px
  text-align: center
  @media screen and (max-width: 768px)
    column(3)
    padding-left: 0

.main-nav-link
  color: color-default
  font-weight: 300
  text-transform: uppercase
  text-decoration: none
  border-bottom: 2px solid transparent
  display: inline-block
  transition: 0.2s
  &:hover, &.current
    padding-bottom: 5px
    border-color: #555