logo-size = 35px

#header
  background: #fff
  border-bottom: 1px solid #ccc
  font-family: font-title
  padding: 30px 0

#header-inner
  clearfix()

#logo-wrap
  float: left

#logo
  color: color-blue
  font-weight: bold
  text-transform: lowercase
  text-decoration: none
  font-size: logo-size

#main-nav
  float: right

.main-nav-link
  float: left
  margin-left: 50px
  color: color-default
  font-weight: 300
  text-transform: uppercase
  text-decoration: none
  padding-top: 13px
  border-bottom: 2px solid transparent
  display: block
  transition: 0.2s
  &:hover, &.current
    padding-bottom: 5px
    border-color: #555