<div class="alignleft">
  &copy; 2012 <a href="http://zespia.tw" target="_blank">SkyArrow</a><br>
  Background: <a href="http://subtlepatterns.com/shattered/" target="_blank">Shattered</a> by <a href="http://luukvanbaars.com/" target="_blank">Luuk van Baars</a>.
</div>
<div class="alignright">
  <select id="lang-select">
    <option value=""<% if (!page.lang){ %> selected<% } %>>English</option>
    <% theme.language.forEach(function(item){ %>
      <option value="<%= item[0] %>"<% if (page.lang == item[0]){ %> selected<% } %>><%= item[1] %></option>
    <% }); %>
  </select>
</div>
<div class="clearfix"></div>