<% var base = config.root + (page.lang ? page.lang + '/' : '') %>
<h1><a href="<%- base %>">Hexo</a></h1>
<div class="clearfix"></div>
<nav id="main-nav">
  <ul>
    <li><a href="<%- base %>docs/">Docs</a></li>
    <li><a href="https://github.com/tommy351/hexo/wiki/Plugins">Plugins</a></li>
    <li><a href="https://github.com/tommy351/hexo/wiki/Themes">Themes</a></li>
    <li><a href="https://github.com/tommy351/hexo">Source</a></li>
  </ul>
</nav>