layout: ../layout
title: Login
---

<form method="POST" accept-charset="UTF-8">
  <label for="password">Password</label>
  <input id="password" type="password" name="password">
  <input type="submit" value="Login">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>