<% if (post.photos && post.photos.length){ %>
<div class="article-gallery">
  <div class="article-gallery-photos">
    <% post.photos.forEach(function(photo, i){ %>
      <a class="article-gallery-img fancybox" href="<%- photo %>" rel="gallery_<%= post._id %>">
        <img src="<%- photo %>" itemprop="image">
      </a>
    <% }) %>
  </div>
</div>
<% } %>