<div id="post-list">
  <div class="page-header">
    <h1 class="page-header-h1">Posts</h1>
    <div class="page-header-btn">
      <button class="btn btn-info" ng-click="modal.open()"><i class="icon-plus"></i>New</button>
    </div>
  </div>
  <div id="post-search-form">
    <input type="search" id="post-search-input" placeholder="Search" ng-model="query">
    <i id="post-search-icon" class="icon-search"></i>
  </div>
  <div class="post-item" ng-repeat="post in posts | orderBy: '-date' | filter: query" ng-click="edit(post.id)" ng-class="{current: selected == post.id}">
    <div class="post-date">{{ post.date | date }}</div>
    <strong class="post-title">{{ post.title }}</strong>
  </div>
</div>
<div id="post-content" ui-view></div>

<div modal="modal.show" close="modal.close()" options="modal.options">
  <div class="modal-header">
    <h4>New Post</h4>
    <button class="close" ng-click="modal.close()">&times;</button>
  </div>
  <div class="modal-body">
    <input type="text" ng-model="modal.data.title">
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="modal.close()">Cancel</button>
    <button class="btn btn-primary" ng-click="modal.submit()">Create</button>
  </div>
</div>

<link href="<%- base %>css/posts/index.css" rel="stylesheet" type="text/css">