@import "nib"

global-reset()

// Color
color-font = #444
color-meta = #999
color-border = #ddd
color-main = #33b5e5

// Font
font-default = "Helvetica Neue", Helvetica, Arial, sans-serif
font-title = Lato, "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, monospace

body
  font 14px font-default

.inner
  margin 0 auto
  width 1000px

@import "_partial/header"
@import "_partial/footer"