@import "_base"

#logo
.main-nav-link
  color #fff

.main-nav-link
  &:hover
    border-color #fff

#banner-wrap
  background color-main
  border-bottom 2px solid darken(color-main, 5%)

#banner
  margin 0 auto
  width 1000px
  padding 40px 0 80px
  font-family font-title

#banner-text
  font-weight 300
  line-height 1.3
  color #fff
  font-size 50px

#banner-entry
  clearfix()
  margin-top 40px

#banner-button
  text-transform uppercase
  text-decoration none
  display block
  font-weight bold
  padding 15px 30px
  border 3px solid #fff
  color #fff
  float left
  &:hover
    background #fff
    color color-main

#banner-share
  margin 15px 0 0 50px
  float left

.section-wrap
  border-bottom 1px solid color-border

.section
  clearfix()

.section-title
  color color-main
  font 300 2em font-title
  margin 40px 0

.section-entry
  clearfix()
  margin-bottom 50px
  color color-font
  line-height 1.6em
  p
    margin-bottom 1.6em

.feature-block
  float left
  width 220px
  margin-right 40px
  &:last-child
    margin-right 0

.feature-block-title
  font-weight 300
  font-size 1.4em
  line-height 1.1em
  font-family font-title
  text-align center
  display block

.feature-block-entry
  margin-top 1.6em
  display none

.feature-block-img
  text-align center
  margin-bottom 20px

#get-started-entry
  float left
  width 450px

#get-started-code
  font-family font-mono
  float right
  width 450px
  padding 40px 30px
  line-height 1.6em
  color #666
  border-left 1px solid #ddd
  border-right 1px solid #ddd
  background #eee
  box-shadow 0 0 5px #ddd inset
  .prompt
    color color-main
  .comment
    color #999
    margin-top 1.6em

#more-info
  float left
  padding 15px 30px
  background color-main
  color #fff
  text-transform uppercase
  text-decoration none
  display block
  font-family font-title
  font-weight bold
  margin-top -15px
  &:hover
    background darken(color-main, 10%)

#footer
  border-top none