@import "_base"

#header-wrap
  border-top 5px solid color-main

#header
  border-bottom 1px solid color-main

#logo
.main-nav-link
  color color-main

.main-nav-link
  &:hover
    border-color color-main

#content
  clearfix()
  padding 40px 0

#main-col
  float right
  width 760px

#article-header
  padding-bottom 20px
  margin-bottom 40px
  border-bottom 1px solid color-border

#article-title
  font-size 2em
  color color-main
  font-weight 300
  font-family font-title

#article-entry
  line-height 1.6em
  color color-font

#sidebar
  float left
  font-family font-title
  width 200px

.side-nav-child
  border 1px solid color-border
  margin 10px 0

.side-nav-title-link
  background #ccc
  color #fff
  display block
  font-weight bold
  padding 10px 20px
  text-decoration none
  text-transform uppercase

.side-nav-child-link
  color #999
  font-weight 300
  padding 10px 20px
  text-decoration none
  display block
  &:hover
    background color-main
    color #fff