<div id="preview-modal">
  <div id="preview-modal-back"></div>
  <button id="preview-modal-close" title="Close" ng-click="close()">&times;</button>
  <div id="preview-modal-content">
    <img id="preview-modal-img" ng-src="<%- base %>api/files/download{{ src }}">
  </div>
  <div id="preview-modal-menu">
    <div id="preview-modal-menu-left">
      <span>{{ title }}</span>
    </div>
    <div id="preview-modal-menu-right">
      <a ng-href="<%- base %>api/files/download{{ src }}" class="preview-modal-btn" title="Download" target="_blank"><i class="icon-download-alt icon-large"></i></a>
      <button class="preview-modal-btn" title="Delete" ng-click="destroy()"><i class="icon-trash icon-large"></i></button>
    </div>
  </div>
</div>