<div id="file-nav">
  <div id="file-nav-left">
    <button class="btn btn-small btn-success" ng-click="download()" ng-class="{disabled: !selected.length}"><i class="icon-download-alt"></i>Download</button>
    <button class="btn btn-small" ng-click="copy()" ng-class="{disabled: !selected.length}"><i class="icon-copy"></i>Copy</button>
    <button class="btn btn-small" ng-click="move()" ng-class="{disabled: !selected.length}"><i class="icon-share"></i>Move</button>
    <button class="btn btn-small" ng-click="rename()" ng-class="{disabled: !selected.length}"><i class="icon-edit"></i>Rename</button>
    <button class="btn btn-small btn-danger" ng-click="destroy()" ng-class="{disabled: !selected.length}"><i class="icon-trash"></i>Delete</button>
  </div>
  <div id="file-nav-search">
    <i id="file-nav-search-icon" class="icon-search"></i>
    <input id="file-nav-search-input" type="search" ng-model="query" placeholder="Search">
  </div>
  <div id="file-nav-right">
    <button class="btn btn-small btn-info" ng-click="newFolder()"><i class="icon-plus"></i>New Folder</button>
    <button class="btn btn-small btn-info" ng-click="upload()"><i class="icon-upload-alt"></i>Upload</button>
  </div>
</div>
<div id="file-table-wrap" ng-click="blur()">
  <table id="file-table">
    <thead>
      <tr>
        <th class="file-item-name" ng-click="sortName()">Name<i class="file-sort-icon" ng-class="{'icon-caret-up': order == 'name', 'icon-caret-down': order == '-name'}"></i></td>
        <th class="file-item-type" ng-click="changeColumnType()" ng-show="columnType == 0">Type</td>
        <th class="file-item-size" ng-click="changeColumnType()" ng-show="columnType == 1">Size</td>
        <th class="file-item-date" ng-click="sortDate()">Modified<i class="file-sort-icon" ng-class="{'icon-caret-up': order == 'mtime', 'icon-caret-down': order == '-mtime'}"></i></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in files | orderBy: order | filter: query" ng-click="select(file, $event)" ng-dblclick="enter(file)" ng-class="{'file-item-selected': selected.indexOf(file) > -1}">
        <td>
          <i class="file-item-icon" ng-class="{'icon-folder-close': file.is_dir, 'icon-file': !file.is_dir}"></i>
          <a class="file-item-link" ng-href="<%- base %>files/{{ file.link }}" ng-click="enter(file, $event)">
            <strong>{{ file.name }}</strong>
          </a>
        </td>
        <td ng-show="columnType == 0">{{ file.type }}<span class="file-item-ext">{{ file.ext }}</span></td>
        <td ng-show="columnType == 1">{{ file.size }}</td>
        <td>{{ file.mtime | date }}</td>
      </tr>
    </tbody>
  </table>
</div>