<footer id="footer">
  <div class="outer">
    <div class="inner">
      &copy; 2013 <a href="http://zespia.tw">SkyArrow</a><br>
      Background: <a href="http://subtlepatterns.com/shattered/" target="_blank">Shattered</a> by <a href="http://luukvanbaars.com/" target="_blank">Luuk van Baars</a>
    </div>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="<%- config.root %>js/script.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>