<footer id="footer">
  <div class="inner">
    &copy; 2013 <a href="http://zespia.tw">SkyArrow</a><br>
    Background: <a href="http://subtlepatterns.com/shattered/" target="_blank">Shattered</a> by <a href="http://luukvanbaars.com/" target="_blank">Luuk van Baars</a>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<% if (page.layout === 'index'){ %>
  <script src="<%- config.root %>js/home.js"></script>
<% } %>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>