<header id="header">
  <div class="outer">
    <div class="inner">
      <h1 id="logo-wrap">
        <a href="<%- config.root %>" id="logo">Hexo</a>
      </h1>
      <nav id="main-nav">
        <ul>
          <% _.each(theme.menu, function(menu, title){ %>
            <li class="main-nav-item">
              <a href="<%= /^([a-z]+:)?\/{1,2}/.test(menu) ? '' : config.root %><%= menu %>" class="main-nav-link<% if(is_current(menu)){ %> current<% } %>"><%= title %></a>
            </li>
          <% }); %>
        </ul>
      </nav>
    </div>
  </div>
</header>