name: Linter

on:
  push:
    branches:
      - "master"
    paths:
      - "lib/**"
      - "test/**"
      - ".github/workflows/linter.yml"
  pull_request:
    paths:
      - "lib/**"
      - "test/**"
      - ".github/workflows/linter.yml"

permissions:
  contents: read

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22
        uses: actions/setup-node@v5
        with:
          node-version: "22"
      - name: Install Dependencies
        run: npm install
      - name: Lint
        run: |
          npm run eslint
        env:
          CI: true
