<div id="banner" class="inner">
  <h2 id="banner-title">A fast, simple &amp; powerful blog framework,<br>powered by Node.js.</h2>
  <div id="banner-getting-started">
    <span id="banner-getting-started-prefix">$</span>
    <input id="banner-getting-started-input" type="text" value="npm install hexo -g" readonly="true">
    <a href="<%- config.root %>docs" id="banner-getting-started-btn">START!</a>
  </div>
  <div id="banner-share">
    <%- partial('_partial/share') %>
  </div>
</div>

<div class="intro-wrap">
  <div class="inner">
    <h2 class="intro-title">Features</h2>
    <div class="intro-feature-wrap">
      <div class="intro-feature">
        <h3 class="intro-feature-title">Blazing Fast</h3>
        <p class="intro-feature-desc">Hexo is powered by Node.js and supports multi-thread generating. Hundreds of files take only seconds to generate.</p>
      </div>
      <div class="intro-feature">
        <h3 class="intro-feature-title">Easy Writing</h3>
        <p class="intro-feature-desc">Hexo supports GitHub Flavored Markdown and all Octopress plugins and highly Jekyll/Octopress compatible.</p>
      </div>
      <div class="intro-feature">
        <h3 class="intro-feature-title">Extensibility</h3>
        <p class="intro-feature-desc">Hexo supports EJS, Swig &amp; Stylus. You can install more plugins for Haml, Jade, Less supports.</p>
      </div>
    </div>
  </div>
</div>

<div class="intro-wrap">
  <div class="inner">
    <h2 class="intro-title">Quick Start</h2>
    <div class="intro-feature-wrap">
      <div class="intro-feature intro-quick-start">
        <h3 class="intro-feature-title">1. Install</h3>
        <p class="intro-feature-desc">
          <figure class="highlight">
            <pre><code>$ npm install hexo -g</code></pre>
          </figure>
        </p>
      </div>
      <div class="intro-feature intro-quick-start">
        <h3 class="intro-feature-title">2. Setup</h3>
        <p class="intro-feature-desc">
          <figure class="highlight">
            <pre><code>$ hexo init blog && cd blog</code></pre>
          </figure>
        </p>
      </div>
      <div class="intro-feature intro-quick-start">
        <h3 class="intro-feature-title">3. Generate</h3>
        <p class="intro-feature-desc">
          <figure class="highlight">
            <pre><code>$ hexo generate</code></pre>
          </figure>
        </p>
      </div>
      <div class="intro-feature intro-quick-start">
        <h3 class="intro-feature-title">4. Server</h3>
        <p class="intro-feature-desc">
          <figure class="highlight">
            <pre><code>$ hexo server</code></pre>
          </figure>
        </p>
      </div>
    </div>
  </div>
</div>