<div id="banner" class="outer">
  <div class="inner">
    <h2 id="banner-title">A fast, simple &amp; powerful blog framework,<br>powered by Node.js.</h2>
    <div id="banner-getting-started">
      <span id="banner-getting-started-prefix">$</span>
      <input id="banner-getting-started-input" type="text" value="npm install hexo -g" readonly="true">
      <a href="<%- config.root %>docs" id="banner-getting-started-btn">START!</a>
    </div>
    <div id="banner-share">
      <%- partial('_partial/share') %>
    </div>
  </div>
</div>

<%- page.content %>